# Personal Spend Analysis

In [71]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
import re
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [103]:
csv = '/Users/ryanbreier/RB.Data & Programming/Data Science/Projects/Personal Spend Analysis/cc_txns_2018-2019.csv'
cc = pd.read_csv(csv).fillna(0)

cc['Transaction Date'] = pd.to_datetime(cc['Transaction Date'])
cc['Posted Date'] = pd.to_datetime(cc['Posted Date'])
cc.head()

,Transaction Date,Posted Date,Card No.,Description,Category,Debit,Credit
0,2019-12-30,2019-12-31,3755,HOMEFRONT DELI,Dining,7.88,0.00
1,2019-12-25,2019-12-30,3755,PURCHASE ADJUSTMENT,Merchandise,0.00,11.98
2,2019-12-29,2019-12-30,3755,460 W ENTERPRISES INC,Merchandise,8.71,0.00
3,2019-12-28,2019-12-30,3755,WESTERLY HEALTH,Merchandise,35.94,0.00
4,2019-12-28,2019-12-30,3755,GNC,Merchandise,15.19,0.00

In [131]:
# desc_grp = cc['Description'].value_counts().reset_index()
desc_grp = cc.groupby(['Description']).agg({'Debit': 'sum',
                                            'Credit': 'sum',
                                           }).sort_values(['Debit','Credit'], ascending=False).reset_index()

# desc = desc_grp[desc_grp['Description'] >= 10]

pmt = desc_grp[(desc_grp['Credit'] != 0) & (desc_grp['Debit'] == 0)]
# pmt['Credit'].sum()

purc = desc_grp[(desc_grp['Credit'] == 0) & (desc_grp['Debit'] != 0)]
purc_10 = purc[:10]
# purc['Debit'].sum()
# purc['Debit'][:25]

                  Description    Debit  Credit
1   INTEREST CHARGE:PURCHASES  4068.01     0.0
2         TWC*TIME WARNER NYC  3561.98     0.0
3      FSI*CONED BILL PAYMENT  2498.56     0.0
4        NYCT EASYPAY PROGRAM  2160.00     0.0
5           PINEHURST LODGING  1727.19     0.0
6            LIME TREE MARKET  1590.00     0.0
7       460 W ENTERPRISES INC  1550.07     0.0
8        NYS DTF BILL PAYMENT  1292.88     0.0
9              D AGOSTINO #09  1232.85     0.0
10            WESTERLY HEALTH  1218.25     0.0